
@{
    ViewData["Title"] = "Index";
}
<script src="~/js/jquery-3.5.0.min.js"></script>

<style>
</style>

<script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	title: {
		text: "Product Trends By Month"
	},
	axisY: {
		includeZero: false
	},
	toolTip: {
		shared: true
	},
	data: [{
		type: "line",
		name: "Kilograms",
		showInLegend: true,
		dataPoints: @Html.Raw(ViewBag.DataPoints1)
	},{
		type: "line",
		name: "Left Arm",
		showInLegend: true,
		dataPoints: @Html.Raw(ViewBag.DataPoints2)
	},{
		type: "line",
		name: "Right Arm",
		showInLegend: true,
		dataPoints: @Html.Raw(ViewBag.DataPoints3)
	},{
		type: "line",
		name: "Chest",
		showInLegend: true,
		dataPoints: @Html.Raw(ViewBag.DataPoints4)
	},{
		type: "line",
		name: "Belly",
		showInLegend: true,
		dataPoints: @Html.Raw(ViewBag.DataPoints5)
	},{
		type: "line",
		name: "Fesier",
		showInLegend: true,
		dataPoints: @Html.Raw(ViewBag.DataPoints6)
	},{
		type: "line",
		name: "Shoulders",
		showInLegend: true,
		dataPoints: @Html.Raw(ViewBag.DataPoints7)
	},{
		type: "line",
		name: "Legs",
		showInLegend: true,
		dataPoints: @Html.Raw(ViewBag.DataPoints8)
	}]
});
chart.render();

}
</script>

<div id="chartContainer" style="height: 370px; width: 100%;"></div>
<button id="modal" >Statistici</button>
<div id="mymodal" style="display:none">
    <div class="modal-content">
        <partial name="InsertData" />
    </div>
</div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script >
    $(document).ready(function(){
        $("#modal").click(function () {
            $("#mymodal").toggle();
   
  });
  var modal = $("#mymodal");
  $(modal).click(function () {
    modal.css("display", "block");
  });
});
</script>
