@using GymProject.ViewModel.BookClass



@{
    ViewData["Title"] = "Index";
}



<a asp-action="Add">Book Another Class</a>


<table class="table">
    <thead>
        <tr>
            <td>Name</td>
            <td>Surname</td>
            <td>Phone Number</td>
            <td>Class </td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewData["bookings"] as IList<BookClassViewModel>)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Surname</td>
                <td>@item.PhoneNr</td>
                <td>@item.ClassName</td>
                <td><a asp-action="Delete" asp-route-id="@item.Id">Cancel</a></td>
            </tr>
        }
    </tbody>
</table>